/* --------------------------------------------------------------------------------------------------------------------
Context Menus
-------------------------------------------------------------------------------------------------------------------- */
QMenu::item {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 30px;
	margin-left: 10px;
}

QMenu::item:selected {
	background-color: #3399FF;
}
